.chord-list-item {
  @apply px-8 py-4 rounded-xl border-neutral-500 bg-neutral-600 border text-text-300 flex flex-row items-center p-2 justify-center gap-2;
  cursor: pointer;
  transition: 0.1s;
  user-select: none;
  &:hover {
    @apply bg-neutral-500 text-text-100;
  }
  &:active {
    @apply bg-neutral-400 text-white border-neutral-600;
  }
  &--active {
    @apply border-green-500 bg-green-900 border text-green-300;
    &:hover,
    &:active {
      @extend .chord-list-item--active;
    }
  }
  &__name {
    @apply text-lg font-bold;
    font-size: 2rem;
  }
  &__suffix {
    @apply text-center text-sm;
  }
}
