.navlink {
  $this: &;
  @apply relative overflow-x-hidden py-2;

  &:after {
    @apply bg-emerald-500 w-full block absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 3px;
    transition: all 0.15s ease;
    transform: translateX(-100%);
  }
  &--active {
    @apply relative text-emerald-500;
    &:after {
      transform: translateX(0);
      animation-name: translate-to-right;
      animation-duration: 0.35s;
    }
  }
}
