.swiper {
  @apply mx-auto w-full h-full pb-16;
}

.swiper-scale {
  height: 24rem;
}
.swiper-chord {
  height: 11rem;
  padding-bottom: 1rem;
  .swiper-wrapper {
    height: fit-content;
    height: 100%;
  }
  &--expanded {
    height: 22rem;
  }
  &--expanded.grid {
    height: 22rem;
  }
}
.swiper-button-next,
.swiper-button-prev {
  @apply p-4 h-10 w-10 bottom-0 top-auto rounded-xl border border-transparent text-light flex flex-row items-center justify-center gap-2;
  background: transparent;
  transition: 0.25s ease all;
  &:after {
    @apply text-foreground text-xl;
  }
  &:hover {
    @apply bg-card;
    background: theme("colors.neutral.500") !important;
  }
}
.swiper-button-next {
  left: 4rem;
}
.swiper-button-prev {
  left: 0;
}


.swiper-slide {
  @apply text-center text-base flex justify-center items-center;
  // height: calc((100% - 30px) / 2) !important;
  height: calc((100% - 30px)) !important;
}
