@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-100: #8dc6fb;
    --color-primary-200: #6ab4fa;
    --color-primary-300: #48a3f8;
    --color-primary-400: #2592f7;
    --color-primary-500: #1188f7;
    --color-primary-600: #066ecf;
    --color-primary-700: #055cac;
    --color-primary-800: #04498a;
    --color-primary-900: #033767;

    --color-neutral-50: #3a3a3a;
    --color-neutral-100: #E1E4E8;
    --color-neutral-200: #B9C0C9;
    --color-neutral-300: #8E959E;
    --color-neutral-400: #6A737D;
    --color-neutral-500: #4D5358;
    --color-neutral-600: #24292E;
    --color-neutral-700: #232B2F;
    --color-neutral-800: #212629;
    --color-neutral-900: #1F2428;

    --color-text-100: #efefef;
    --color-text-300: #dedede;
    --color-text-500: #eee;
    --color-text-900: #fff;

    --color-green-500: hsl(158, 81%, 39%);
    --color-green-dark: hsla(158, 90%, 39%, 0.08);
  }
}

@import "abstracts/index.scss";
@import "base/index.scss";
@import "components/index.scss";
@import "pages/index.scss";

$piano-key-black-width: 2.25rem;
$piano-key-black-height: 9rem;
$piano-key-white-width: 3.5rem;
$piano-key-white-height: 15rem;

.piano-note {
  @apply flex items-center justify-center text-text-300;
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: darken(#fff, 15%);
  &--circle {
    @apply bg-emerald-400 rounded-full;
  }
}
.piano-key {
  @apply items-end flex justify-center py-4 select-none;
  position: relative;
  &--black {
    width: $piano-key-black-width;
    height: $piano-key-black-height;
    background: black;
    margin-left: -(calc($piano-key-black-width / 2));
    margin-right: -(calc($piano-key-black-width / 2));
    z-index: 1;
    @apply rounded-b-xl;
    .piano-note {
      color: darken(#fff, 70%);
    }
    &.piano-key--active {
      @apply bg-emerald-600;
      .piano-note {
        @apply text-emerald-400;
      }
    }
    .kbd {
      top: calc(-2.2em - 1rem);
      bottom: unset;
    }
  }
  &--white {
    width: $piano-key-white-width;
    height: $piano-key-white-height;
    background: white;
    border: 1px solid transparent;
    @apply border-neutral-800 rounded-b-xl;
    &.piano-key--active {
      @apply bg-emerald-300;
      .piano-note {
        @apply text-emerald-100;
      }
    }
  }
  &--sm {
    $size-scale: 0.65;
    &.piano-key--white {
      @apply rounded-b-md;
      width: calc($piano-key-white-width * $size-scale);
      height: calc($piano-key-white-height * $size-scale);
    }
    &.piano-key--black {
      @apply rounded-b-md;
      width: calc($piano-key-black-width * $size-scale);
      height: calc($piano-key-black-height * $size-scale);
      margin-left: -(calc($piano-key-black-width * $size-scale / 2));
      margin-right: -(calc($piano-key-black-width * $size-scale / 2));
    }
    & > .piano-note {
      font-size: 1.2rem;
    }
  }
}

.kbd {
  @apply text-neutral-100 bg-neutral-700 rounded-md border border-neutral-500 text-xs bg-opacity-80;
  padding: 0.25rem;
  min-height: 2.2em;
  min-width: 2.2em;
  position: absolute;
  bottom: calc(-2.2em - 1rem);
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
